*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: white;
  color: #1a1b1c;
  min-height: 100vh;
}

.modal,
.cart,
.payment {
  padding: 2rem;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  background: white;
  border-radius: 1rem;
  background-image: linear-gradient(
      45deg,
      rgba(248, 248, 249, 0.75),
      rgba(199, 199, 199, 0.75)
    ),
    url("../images/hero/pepperoni.jpg");
  background-size: cover;
}

form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
label {
  padding: 1rem;
  font-size: 1.3rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: #919090;
  cursor: pointer;
  font-size: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 4px 4px rgba(79, 79, 79, 0.3);
  background-image: linear-gradient(
      45deg,
      rgba(248, 248, 249, 0.75),
      rgba(199, 199, 199, 0.75)
    ),
    url("../images/hero/margherita.jpg");
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  background-attachment: scroll;
  z-index: 10;
}

.header img {
  width: 7rem;
  border-radius: 50%;
  border: #adadad solid 2px;
}
.header__item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.header button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #01060b;
  padding: 1rem;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.header .user-info {
  display: none;
  font-size: 1.5rem;
}
.header .user-info span {
  text-transform: uppercase;
}

.header .login-button {
  background-color: #e3e3e3;
}
.header .cart-button {
  background-color: #fbfbd3;
}
.header .login-button:hover {
  background-color: #adadad;
}
.header .cart-button:hover {
  background-color: #fbfb4d;
}
main {
  position: relative;
  top: 12rem;
  padding-bottom: 6rem;
}
.menu-item {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #adadad solid 1px;
}

.menu-item__info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-item__price {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.add-to-cart {
  background-color: rgb(186, 255, 117);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #01060b;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.cart button {
  margin: 0.5rem;
}
.textFor425 {
  display: block;
}
.textSmall {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  padding: 2rem;
  border-top: #919090 solid 2px;
  background: linear-gradient(45deg, rgba(248, 248, 249), rgba(199, 199, 199));
  z-index: 10;
}

@media (max-width: 425px) {
  header img {
    display: none;
  }
  header {
    flex-direction: column;
  }
  dialog {
    width: 80%;
  }
  .textFor425 {
    display: none;
  }
  .textSmall {
    display: block;
  }
}
